* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


h1,p,h2,h3,label{
    color: #fff;
}



/* MEIO */
main {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

main>div {
    margin:  70px 0px 0px 0px;
    width: 50%;
    max-width: 450px;
    height: 450px;
    border-radius: 5px;
    background: rgba(5,13,235);
}

main>div>div>h1 {
    text-align: center;
    letter-spacing: 10px;

    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    filter: drop-shadow(4px 3px 3px rgb(0, 0, 0));
}

main>div>div {
    padding: 25px;
    height: 100%;
}

#logoC{
    margin-top: -55px;
    height: 40px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}
#logoC>img{
    height: 100px;
    margin-top: -50px;
}

.glow{
    width: 300px;
    height: 300px;
    /* background-image: url('Logo.png');  */
    background-size: cover;
    border-radius: 50%; /* Faz a imagem ser circular, remova se não quiser */
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.651)); /* Ajuste a cor e a intensidade do brilho */

}

main>div>div>form {
    height: 80%;
    display: grid;
}

main>div>div>form>label {
    padding-top: 30px;
    font-size: 17px;
    font-weight: normal;
}

main>div>div>form>input {
    /* border: none; */
   
    border: #000fdc 2px solid;
    border-radius: 5px;
    color: #000;
    font-weight: normal;
    padding: 5px;
}

main>div>div>form>input:focus{
    outline: none; 
}


main>div>div>form>input:focus {
    border: #ffffff 2px solid;
    box-shadow: 0px 0px 8px #ffffffd4;
    transition: 0.5s;
}

#botao_{
    display: flex;
    justify-content: center;
    align-items: center ;
}

#botao_>input{
    color: #000;
    height: 30px;
    width: 50%;
    font-size: 20px;

    border: 2px solid #fff;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    margin: 5px 0 0 0;
}

#botao_>#botao:hover {
    background-color: #0011ff;
    color: #fff;
    transition: 0.3s;
    border: #ffffff 2px solid;
    box-shadow: 0px 0px 10px #ffffffd4;
    transition: 0.5s;
}

main>div>div>form>#mensagem{
    height: 100px;
    width: 100%;
    border-radius: 5px;
}

#escreva_m{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 100%;
    
}

textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none; 
    color: #000;
    }

textarea:focus{
    border: #ffffff 2px solid;
    box-shadow: 0px 0px 8px #ffffffd4;
    transition: 0.5s;
}

textarea:focus{
    outline: none;
}

    textarea::placeholder {
        color: #75757592;
    }
/* FIM MEIO */
footer{
    position: absolute;
    bottom: 0;
}